<div class="preview">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-tittle">Add Donation</h3>
      </div>
      <div class="panel-body">
        <div class="row panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <spam >Payment Details</spam>
              <button ng-click="" class="btn btn-success ">Edit</button>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4><span class="label label-primary">Status</span>  Pending</h4>
                <h4><span class="label label-primary">Payment Type</span>  {{vmPreview.info.PaymentTypeLabel}}</h4>
                <h4 ng-if="vmPreview.payment.pledgeAmount != -7.922816251426434e+28"><span class="label label-primary" ng-if="vmPreview.payment.pledgeAmount != -7.922816251426434e+28">Pledge</span>  ${{vmPreview.payment.pledgeAmount}}</h4>
                <h4 ng-if="vmPreview.payment.pledgeAmount == -7.922816251426434e+28"><span class="label label-primary" ng-if="vmPreview.payment.pledgeAmount == -7.922816251426434e+28">Pledge</span>  ${{vmPreview.payment.customPledgeAmount}}</h4>
                <h4><span class="label label-primary">Payment Detail</span>  {{vmPreview.todayDate}}</h4>
                <h4 ng-if="vmPreview.payment.pledgeAmount != -7.922816251426434e+28"><span class="label label-primary" ng-if="vmPreview.payment.pledgeAmount != -7.922816251426434e+28">Total Anual Amount</span>  ${{vmPreview.payment.pledgeAmount}}</h4>
                <h4 ng-if="vmPreview.payment.pledgeAmount == -7.922816251426434e+28"><span class="label label-primary" ng-if="vmPreview.payment.pledgeAmount == -7.922816251426434e+28">Total Anual Amount</span>  ${{vmPreview.payment.customPledgeAmount}}</h4>
            </div>
          </div>
        </div>
        <div class="row panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <spam >Charity Details</spam>
              <button ng-click="" class="btn btn-success ">Edit</button>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4><span class="label label-primary">Details</span>  {{vmPreview.agency.Name}}</h4>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="offset-sm-2 col-sm-10">
                <button ng-click="" class="btn btn-primary pull-left">Prev</button>
                <button ng-click="" class="btn btn-primary pull-right">Finish</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>