<div class="preview">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-tittle">Add Donation</h3>
      </div>
      <div class="panel-body">
        <div class="row panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <spam >Payment Details</spam>
              <button ng-click="" class="btn btn-success center-block">Edit</button>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4><span class="label label-primary">Status</span></h4>
                <h4><span class="label label-primary">Payment Type</span></h4>
                <h4><span class="label label-primary">Pledge</span></h4>
                <h4><span class="label label-primary">Payment Detail</span></h4>
                <h4><span class="label label-primary">Total Annual Amount</span></h4>
            </div>
          </div>
        </div>
        <div class="row panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title col-lg-3">
              <spam >Charity Details</spam>
              <button ng-click="" class="btn btn-success center-block">Edit</button>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <h4><span class="label label-primary">Details</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>